<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="_Favicons" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <script src=https://use.fontawesome.com/b707a10f46.js></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
</head>

<body>
    @RenderBody()

    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="/js/lib/techanjs/techan.min.js"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
